<template>

        <v-container fluid class="Account">
        <v-layout column>
            <v-card>
              <v-card-title>
              <span class="headline">Account</span>
            </v-card-title>
                <v-card-text>
                    <!-- <v-flex class="mb-4" >
                        <v-avatar size="96" class="mr-4">
                            <img :src="user.photoUrl" alt="Avatar">
                        </v-avatar>
                        <v-btn @click="openAvatarPicker">Change Avatar</v-btn>
                    </v-flex> -->
                    <v-text-field
                        v-model="user.name"
                        label="Name"></v-text-field>
                    <v-text-field

                        v-model="user.phoneNumber"
                        label="phoneNumber"></v-text-field>
                    <v-text-field
                        v-model="user.email"
                        label="Email Address"></v-text-field>
                </v-card-text>
                <!-- <v-card-actions>
                    <v-btn color="primary" :loading="loading" @click.native="update">
                        <v-icon left dark>mdi-check</v-icon>
                        Save Changes
                    </v-btn>
                </v-card-actions> -->
            </v-card>
        </v-layout>

    </v-container>

</template>

<script>
// @ is an alias to /src
import { auth } from '@/service/firebase';

export default {
  name: 'Account',
  created() {
    // `this` est une référence à l'instance de vm
    auth.onAuthStateChanged((user) => {
      if (user != null) {
        this.user.name = user.displayName;
        this.user.email = user.email;
        this.user.photoUrl = user.photoURL;
        this.user.phoneNumber = user.phoneNumber;
        this.user.metadata = { ...user.metadata };
      }
    });
  },
  data() {
    return {

      user: {
        name: '',
        email: '',
        photoUrl: '',
        phoneNumber: '',
        metadata: {},
      },
      loading: false,

      rules: {
        required: (value) => !!value || 'Required.',
        port: (value) => (value && value <= 65535) || 'Port must be less than 65535',
        ip: (value) => {
          const pattern = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
          return pattern.test(value) || 'Invalid ip.';
        },
      },
    };
  },

  methods: {

  },
};
</script>
