<template>
  <div class="config">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <Crud :headers="headers"
      :title="title"
      :data="documents"
      :formItems="formItems"
      :rules="rules"
      @create='create'
      @delete='del'
      @update='update'
    />
  </div>
</template>

<script>
// @ is an alias to /src
import { config } from '@/service/firebase';
import Crud from '@/components/Crud.vue';

export default {
  name: 'Config',
  components: {
    Crud,
  },
  firestore: {
    documents: config,
  },
  data() {
    return {
      headers: [
        { text: 'Name', align: 'start', value: 'name' },
        {
          text: 'Host', value: 'ip', sortable: false,
        },
        { text: 'Port', value: 'port', sortable: false },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      title: 'Configuration Ip',
      documents: [],

      formItems: [
        {
          value: 'name', label: 'Name', type: 'text', rules: 'required',
        },
        {
          value: 'ip', label: 'Host', type: 'text', rules: 'ip',
        },
        {
          value: 'port', label: 'Port', type: 'number', rules: 'port',
        },

      ],
      rules: {
        required: (value) => !!value || 'Required.',
        port: (value) => (value && value <= 65535) || 'Port must be less than 65535',
        ip: (value) => {
          const pattern = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
          return pattern.test(value) || 'Invalid ip.';
        },
      },
    };
  },
  methods: {
    create(item) {
      config.add(
        item,
      );
    },
    update(id, item) {
      config.doc(id).set(item);
    },
    del(id) {
      config.doc(id).delete();
    },
  },
};
</script>
