<template>
  <v-data-table
    :headers="headers"
    :items="data"
    :search="search"
    class="elevation-1 mx-4"

  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>{{title}}</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
        clearable
      ></v-text-field>
      <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >New Item</v-btn>
          </template>
          <v-card>
            <v-form
            ref="form"
            >
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text @keydown.enter.prevent="save"
                  @keydown.esc.prevent="close"
                >
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4"
                  v-for="(formItem, id) in formItems"
                  :key="id"
                  >
                    <v-text-field
                    v-bind:label="formItem.label"
                    v-model="editedItem[formItem.value]"
                    v-bind:type="formItem.type"
                    v-bind:ref="formItem.value"
                    v-bind:rules="[rules[formItem.rules] || true]"

                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
            </v-form>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <!-- <v-btn color="primary" >Reset</v-btn> -->
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: ['headers', 'title', 'data', 'formItems', 'rules'],
  data() {
    return {
      dialog: false,

      search: '',
      editedIndex: -1,
      editedItem: {

      },
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item';
    },
  },

  watch: {
    dialog(val) {
      this.dialog = val || this.close();
    },
  },

  methods: {

    editItem(item) {
      this.editedIndex = item.id;
      this.editedItem = { ...item };
      this.dialog = true;
    },

    deleteItem(item) {
      this.$emit('delete', item.id);
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = {};
        this.editedIndex = -1;
      });
    },

    save() {
      if (!this.$refs.form.validate()) { return; }
      if (this.editedIndex !== -1) {
        this.$emit('update', this.editedIndex, this.editedItem);
      } else {
        this.$emit('create', this.editedItem);
      }
      this.close();
    },
  },
};
</script>
