<template>
  <v-card
    class="mx-auto text-left"
    max-width="400"
  >

      <v-card-title>Email check</v-card-title>
<v-alert :value="success" type="success">
      I'm a success alert.
      {{message}}
    </v-alert>

    <!-- <v-alert type="info">
      I'm an info alert.
    </v-alert>

    <v-alert type="warning">
      I'm a warning alert.
    </v-alert> -->

    <v-alert :value="alert" type="error">
      I'm an error alert.
      {{message}}
    </v-alert>
    <v-card-text class="text--primary">
      <div>Merci de vérifier votre boite mail pour activer votre compte.</div>
<div>
Un mail de validation a été envoyé à l'adresse suivante : {{storeFb.user.email}}
 </div>
<div>isUserAuthenticated : {{storeFb.isAuthenticated}}</div>
<div>isEmailVerified : {{storeFb.user.emailVerified}}</div>
<div>Merci de vérifier votre boite mail</div>
<div>Cette étape est nécéssaire avant de commencer</div>

    </v-card-text>

    <v-card-actions>

      <v-btn
        color="orange"
        text
        @click="sendEmail"
      >
        Renvoyer un mail de validation
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { auth } from '@/service/firebase';
import storeFb from '@/store/firebaseAuth';

export default {
  mounted() {
    auth.onAuthStateChanged((user) => {
      if (!user) {
        storeFb.isAuthenticated = false;
        storeFb.user = {};
      } else {
        storeFb.isAuthenticated = true;
        storeFb.user = user;
      }
    });
  },

  data: () => ({
    storeFb,
    message: '',
    success: false,
    alert: false,
  }),
  methods: {
    sendEmail() {
      auth.currentUser.sendEmailVerification()
        .then(() => {
          // Email sent.
          this.success = true;
          this.alert = false;
          this.message = 'Un Email vous a été envoyé pour valider votre compte';
        })
        .catch((error) => {
          // An error happened.
          this.success = false;
          this.alert = true;
          this.message = error;
        });
    },

  },
};

</script>

<style>

</style>
