<template>

  <v-container
    class="fill-height"
    fluid
  >
    <v-row
      align="center"
      justify="center"
    >
      <v-col
        cols="12"
        sm="8"
        md="4"
      >
        <v-card class="elevation-12">
          <v-toolbar
            color="primary"
            dark
            flat
          >
            <v-toolbar-title>Login form</v-toolbar-title>
            <v-spacer></v-spacer>

          </v-toolbar>
          <v-card-text>
            <v-alert :value="success" type="success">
      I'm a success alert.
      {{message}}
    </v-alert>

    <!-- <v-alert type="info">
      I'm an info alert.
    </v-alert>

    <v-alert type="warning">
      I'm a warning alert.
    </v-alert> -->

    <v-alert :value="alert" type="error">
      I'm an error alert.
      {{message}}
    </v-alert>
            <v-form
            ref="form"
            v-model="valid"

            >
              <v-text-field

                prepend-icon="mdi-account"
                type="text"
                v-model="email"
                :rules="[rules.required, rules.email]"
                label="E-mail"
                required
              ></v-text-field>

              <v-text-field
              prepend-icon="mdi-lock"

                v-model="password"
                id="password"
                label="Password"

                :rules="[rules.required, rules.password]"
                counter
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="show = !show"
                :type="show ? 'text' : 'password'"
                required
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn color="orange"
              :disabled="!disable"
              text @click="resetpassword">Forgot password ?
              </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" :disabled="!valid" @click="login">Login</v-btn>
            <v-btn color="primary" :disabled="!valid" @click="createAccount">CreateAccount</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>

</template>

<script>

import { auth } from '@/service/firebase';
import storeFb from '@/store/firebaseAuth';

export default {
  computed: {
    disable() {
      if (this.rules.email(this.email) !== true) {
        return false;
      } return true;
    },
  },
  data: () => ({
    storeFb,
    message: '',
    success: false,
    alert: false,
    show: false,
    valid: false,
    email: '',
    password: '',
    rules: {
      required: (value) => !!value || 'Required.',
      password: (value) => (value && value.length >= 8) || 'Password must be more than 8 characters',
      email: (value) => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || 'Invalid e-mail.';
      },
    },

  }),

  methods: {
    login() {
      this.alert = false;
      auth
        .signInWithEmailAndPassword(this.email, this.password)

        .catch((error) => {
          console.log(error.code, error.message);
          this.success = false;
          this.alert = true;
          this.message = error;
        });
    },
    createAccount() {
      if (this.$refs.form.validate()) {
        auth.createUserWithEmailAndPassword(this.email, this.password)
          .then(() => auth.currentUser.sendEmailVerification())
          .then(() => {
            // Email sent.
            this.success = true;
            this.alert = false;
            this.message = 'Un Email vous a été envoyé pour valider votre compte';
          })
          .catch((error) => {
            // An error happened.
            this.success = false;
            this.alert = true;
            this.message = error;
          });
      }
    },

    resetpassword() {
      if (this.rules.required(this.email) && this.rules.email(this.email)) {
        auth.sendPasswordResetEmail(this.email)
          .then(() => {
            // Email sent.
            this.success = true;
            this.alert = false;
            this.message = 'Un Email vous a été envoyé pour changer le de mot de passe';
          })
          .catch((error) => {
            // An error happened.
            this.success = false;
            this.alert = true;
            this.message = error;
          });
      }
    },

  },
};
</script>
