<template>
  <v-app>

  <div id="nav">
      <router-link to="/">Home</router-link>
      <router-link v-show="!storeFb.isAuthenticated" to="/login">
        <v-btn  icon color="pink">
          <v-icon >mdi-login</v-icon>
        </v-btn></router-link>
      <router-link v-show="storeFb.isAuthenticated" to="/">
        <v-btn @click="signOut" icon color="pink">
          <v-icon >mdi-logout</v-icon>
        </v-btn></router-link>
      <router-link to="/config">
      <v-btn icon>
          <v-icon>mdi-cog</v-icon>
        </v-btn>
      </router-link>
      <router-link to="/account">
        <v-btn icon>
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </router-link>
    </div>
        <router-view />

  </v-app>
</template>
<script>
import { auth } from '@/service/firebase';
import storeFb from '@/store/firebaseAuth';

export default {
  name: 'App',

  data: () => ({

    storeFb,

  }),
  computed: {
    authenticated() {
      return this.user.loggedIn;
    },
    firstName() {
      if (this.user.data.displayName) {
        return this.user.data.displayName.split(' ')[0];
      }
      return null;
    },
  },
  methods: {

    signOut() {
      auth.signOut()
        .then(() => {
          console.log('Sign-out successful.');
          storeFb.isAuthenticated = false;
          storeFb.user = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
